# Node dependencies
node_modules/

# Build output
dist/
build/
.vite/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Frontend specific
frontend/dist/
frontend/node_modules/

# Optional: Backend specific
backend/dist/
backend/node_modules/

# keys
*.cert
*.key

#profile pics
backend/public/profile-pics/*
backend/public/documents/*